$backgroundColor: #f7f7f7;
$lightGrey: #b5b5b5;
$darkGrey: #1e1e1e;

$bodyColor: $darkGrey;
$navigationColor: $darkGrey;
$footerColor: $lightGrey;
$bodyFont: 'Roboto Mono',-apple-system,BlinkMacSystemFont,"Segoe UI",Helvetica,Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol";

*,
*:after,
*:before {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body,
html {
  width: 100%;
  height: 100%;
}

body {
  background: $backgroundColor;
  color: $bodyColor;
  font-family: $bodyFont;
  font-weight: 300;
}

a:link {
  color: $bodyColor;
  text-decoration: none;
}

a:visited {
  color: $bodyColor;
  text-decoration: none;
}

a:hover {
  color: $bodyColor;
  text-decoration: underline;
}

a:active {
  color: $bodyColor;
  text-decoration: none;
}

h1 {
  font-weight: bold;
  padding-bottom: 5px;
  font-size: 1.0rem;
  text-decoration: underline;
}

.wrapper {
  display: grid;
  min-height: 100%;
  grid-template-columns: 1fr 1fr;
  grid-auto-rows: auto auto 1fr auto;
  grid-template-areas: "header header" "navigation navigation" "content content" "footer footer";
  grid-gap: 5px;
}

.jobs {
  display: grid;
  grid-template-columns: 1fr;
  grid-auto-rows: auto;
  grid-gap: 0;
  padding: 0;
  margin: 0;
}

.jobInfo {
  padding-right: 0px;
}

.jobRole {
  padding-right: 0px;
  padding-bottom: 20px;
}

.header {
  grid-area: header;
  align-items: center;
  padding: 5px;
  font-size: 1.5rem;
  font-weight: 500;
}

.navigation {
  grid-area: navigation;
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-items: center;
  padding: 5px;
  font-size: 1.25rem;
  list-style-type: none;
}

.navigation li {
  padding-right: 20px;
}

.content {
  grid-area: content;
  padding: 5px;
  padding-top: 20px;
  font-size: 1.0rem;
}

.footer {
  grid-area: footer;
  color: $footerColor;
  font-size: small;
  text-align: center;
  padding: 5px;
  padding-top: 40px;
}

@media screen and (min-width: 768px) {
  .wrapper {
    display: grid;
    min-height: 100%;
    padding: 0;
    margin: 0;
    grid-template-columns: 1fr minmax(20%, 300px) minmax(30%, 467px) 1fr;
    grid-auto-rows: 10% auto 1fr auto;
    grid-template-areas: ". . . ." ". header navigation ." ". content content ." ". footer footer .";
    grid-gap: 0;
  }

  .navigation {
    justify-content: flex-end;
  }

  .jobs {
    display: grid;
    grid-template-columns: auto 1fr;
    grid-auto-rows: auto;
    grid-gap: 0;
    padding: 0;
    margin: 0;
  }

  .jobInfo {
    padding-right: 30px;
  }

  .jobRole {
    padding-right: 0px;
    padding-bottom: 0px;
  }

}

.padded {
  padding-top: 20px;
}

.paddedDouble {
  padding-top: 40px;
}
