$backgroundColor: #f7f7f7;
$lightGrey: #b5b5b5;
$darkGrey: #1e1e1e;
$electricBlue: #3137FD;
$electricBlueDarker: #171EFD;

$bodyColor: $darkGrey;
$navigationColor: $darkGrey;
$footerColor: $lightGrey;
$bodyFont: 'Hanken Grotesk',-apple-system,BlinkMacSystemFont,Helvetica,Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol";

*,
*:after,
*:before {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body,
html {
  width: 100%;
  height: 100%;
}

body {
  background: $backgroundColor;
  color: $bodyColor;
  font-family: $bodyFont;
  font-weight: 400;
}

#menuToggle
{
  display: block;
  position: relative;
  top: 0px;
  left: 0px;

  z-index: 1;

  -webkit-user-select: none;
  user-select: none;
}

#menuToggle input
{
  display: block;
  width: 40px;
  height: 32px;
  position: absolute;
  top: -7px;
  left: -5px;

  cursor: pointer;

  opacity: 0;
  z-index: 2; // place over hamburger

  -webkit-touch-callout: none;
}

#menuToggle span
{
  display: block;
  width: 33px;
  height: 4px;
  margin-bottom: 5px;
  position: relative;

  background: $darkGrey;
  border-radius: 1px;

  z-index: 1;

  transform-origin: 4px 0px;

  transition: transform 0.5s cubic-bezier(0.77,0.2,0.05,1.0),
              background 0.5s cubic-bezier(0.77,0.2,0.05,1.0),
              opacity 0.55s ease;
}

#menuToggle span:first-child
{
  transform-origin: 0% 0%;
}

#menuToggle span:nth-child(4)
{
  transform-origin: 0% 100%;
}

// rotate upper span
#menuToggle input:checked ~ span:nth-child(2)
{
  opacity: 1;
  transform: rotate(45deg) translate(-2px, -1px);
  background: $darkGrey;
}

// hide middle span
#menuToggle input:checked ~ span:nth-child(3)
{
  opacity: 0;
  transform: rotate(0deg) scale(0.2, 0.2);
}

// rorate lower span
#menuToggle input:checked ~ span:nth-child(4)
{
  transform: rotate(-45deg) translate(0, -1px);
}

// slideout
#menu
{
  position: fixed;
  top: 0px;
  left: 0px;
  min-width: 100vw;
  min-height: 100vh;
  padding: 50px;
  padding-top: 75px;

  background: $backgroundColor;
  list-style-type: none;
  -webkit-font-smoothing: antialiased;

  transform-origin: 0% 0%;
  transform: translate(100%, 0);

  transition: transform 0.5s cubic-bezier(0.77,0.2,0.05,1.0);
}

#menu li
{
  padding: 10px 0;
  font-size: 1.5rem;
  text-align: center;
}

// reset transform, i.e. make it slide
#menuToggle input:checked ~ ul
{
  transform: none;
}

.header {
  a:link {
    color: $bodyColor;
    text-decoration: none;
  }
  
  a:visited {
    color: $bodyColor;
    text-decoration: none;
  }
  
  a:hover {
    color: $bodyColor;
    text-decoration: underline;
  }
  
  a:active {
    color: $bodyColor;
    text-decoration: none;
  }
}

a:link {
  color: $bodyColor;
  text-decoration: underline;
}

a:visited {
  color: $bodyColor;
  text-decoration: underline;
}

a:hover {
  color: $bodyColor;
  text-decoration: underline;
}

a:active {
  color: $bodyColor;
  text-decoration: none;
}

h1 {
  padding-bottom: 5px;
  font-size: 3rem;
  font-weight: 900;
  font-style: italic;
}

.wrapper {
  display: grid;
  min-height: 100%;
  grid-template-columns: 4fr 1fr;
  grid-auto-rows: auto auto 1fr auto;
  grid-template-areas: "header navigation" "menu menu" "content content" "footer footer";
  grid-gap: 5px;
}

.jobs {
  display: grid;
  grid-template-columns: 1fr;
  grid-auto-rows: auto;
  grid-gap: 0;
  padding: 0;
  margin: 0;
}

.jobInfo {
  padding-right: 0px;
}

.jobRole {
  padding-right: 0px;
  padding-bottom: 20px;
}

.header {
  grid-area: header;
  align-items: center;
  padding: 10px;
  font-size: 3.0rem;
  font-weight: 900;
  font-style: italic;
}

.navigation {
  grid-area: navigation;
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-end;
  align-items: center;
  padding: 10px;
  font-size: 1.5rem;
}

#menuHorizontal {
  list-style-type: none;
  display: none;
}

#menuHorizontal li {
  display: inline;
}

.navigation li {
  padding-right: 20px;
}

.content {
  grid-area: content;
  padding: 10px;
  padding-top: 20px;
  font-size: 1.5rem;
}

.footer {
  grid-area: footer;
  color: $footerColor;
  font-size: small;
  text-align: center;
  padding: 5px;
  padding-top: 40px;
}

@media screen and (min-width: 768px) {
  .wrapper {
    display: grid;
    min-height: 100%;
    padding: 0;
    margin: 0;
    grid-template-columns: 1fr minmax(min-content, 300px) minmax(min-content, 467px) 1fr;
    grid-auto-rows: 10% auto 1fr auto;
    grid-template-areas: ". . . ." ". header navigation ." ". content content ." ". footer footer .";
    grid-gap: 0;
  }

  .navigation {
    justify-content: flex-end;
  }

  #menuToggle {
    display: none;
  }

  #menuHorizontal {
    display: inline;
  }

  .jobs {
    display: grid;
    grid-template-columns: auto 1fr;
    grid-auto-rows: auto;
    grid-gap: 0;
    padding: 0;
    margin: 0;
  }

  .jobInfo {
    padding-right: 30px;
  }

  .jobRole {
    padding-right: 0px;
    padding-bottom: 0px;
  }

}

.padded {
  padding-top: 20px;
}

.paddedDouble {
  padding-top: 40px;
}
